@use "./variables" as variables;
@use "./containers" as containers;
@use "sass:map";

.mobile {
    @include containers.vertical-centered-container();

    background-color: variables.$dark;
    color: variables.$light;
    width: 100%;

    button {
        width: 80%;
    }
}

.web {
    background-color: variables.$dark;
    color: variables.$light;

    h1 {
        font-size: large;
    }
    h2 {
        font-size: medium;
    }

    a {
        display: block;
    }
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}