

.mobile {
    main {
        height: 75vh;
        background-image: url('../../public/open-market.png');
        background-repeat: no-repeat;

        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    footer {
        height: 25vh;
    }
}